<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Blog">
            <button type="button" class="btn btn-outline-primary" ngbTooltip="btn-outline-primary"
                (click)="showBlogDetail()">Create Blog</button>
            <p-table [columns]="cols" [value]="datas" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [rows]="5"
                [paginator]="true" [loading]="loading" [totalRecords]="totalRecords">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData.typeName}}
                        </td>
                        <td>
                            {{rowData.name}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-glow-primary btn-primary" data-toggle="tooltip"
                                (click)="showBlogDetail(rowData.id)">Detail</button>
                            <button type="button" class="btn btn-glow-danger btn-danger" data-toggle="tooltip"
                                (click)="delete(rowData)">Delete</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </app-card>
    </div>
</div>
<createOrEditBlogModal #createOrEditBlogModal (modalSave)="loadCarsLazy()"></createOrEditBlogModal>
<notifier-container></notifier-container>