<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Hello Card">
      <p-table [columns]="cols" [value]="datas" [lazy]="true"
        (onLazyLoad)="loadCarsLazy($event)" [rows]="5" [paginator]="true" [loading]="loading"
        [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-editor #htmlContent></app-editor>
      <button type="button" (click)="test()" class="btn btn-primary">test</button>
    </app-card>
  </div>
</div>